{% extends 'blog/base.html' %}

{% block content %}

    {% for item in Post %}

    <div class="card">
      <h5 class="card-header"><b>{{ item.title }}</b></h5>

      <div class="card-body>">
        <p class="card-text p-2">Tags: {{ item.tags.all|join:", " }}</p>
        <p class="card-text p-3">{{ item.text|linebreaksbr|truncatechars:30 }}</p>
            <div align="right"><a href="{% url 'post_detail' pk=item.pk %}" class="btn btn-primary m-3">記事を読む</a></div>
      </div>
      <div align="right"><h6 class="card-footer mb-0">{{ item.published_date }}</h6></div>
    </div>
    <p>

    {% endfor %}

{% endblock %}
