{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}

    <div class="card">
      <h5 class="card-header"><b>{{ post.title }}</b></h5>

      <div class="card-body>">
        <p class="card-text p-3">{{ post.text|linebreaksbr|truncatechars:30 }}</p>
            <div align="right"><a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary m-3">記事を読む</a></div>
      </div>
      <div align="right"><h6 class="card-footer mb-0">{{ post.published_date }}</h6></div>
    </div>
    <p>

    {% endfor %}
{% endblock %}
