{% extends 'blog/base.html' %}

{% block content %}
<div class="card">
<h5 class="card-header"><b>{{ post.title }}</b></h5>

<div class="card-body>">
  <p class="card-text p-3">Tags: {{ post.tags.all|join:", " }}</p>

  {% if post.text_type == 'HTML' %}
    <p class="card-text p-3">{{ post.text|safe }}</p>
  {% elif post.text_type == 'Markdown' %}
    {% load markdown_filter %}
    <p class="card-text p-3">{{ post.text|markdown_filter|safe }}</p>
  {% else %}
    <p class="card-text p-3">{{ post.text|linebreaksbr }}</p>
  {% endif %}
  <div align="right"><a href="{% url 'post_list' %}" class="btn btn-primary m-3">トップページに戻る</a></div>
</div>
    <div align="right"><h6 class="card-footer mb-0">{{ post.published_date }}</h6></div>
  </div>
  <p>
{% endblock %}
